:root {
    --mainClr:  rgb(199, 224, 252); /*#3e0249*/
}

body {
    margin: 0;
    padding: 0;
    color: var(--mainClr);
    background-color: rgb(9, 12, 13);
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainClr);
    font-size: 150px;
}

.o-color {
    color: rgb(76, 230, 155);
}

.x-color {
    color: rgb(115, 64, 227);
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--mainClr);
    color: black;
    border-color: var(--mainClr);
    font-size: 18px;
    transition: 200ms transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}